<tr data-toggle="modal" data-id="{{_id}}" data-target="#contact-{{_id}}" customerID="{{_id}}">
    <td>{{name}}</td>
    <td>{{contactNumber}}</td>
    <td>{{homeAddress}}</td>
    <td>{{city}}</td>
</tr>