<tr data-toggle="modal" data-id="{{_id}}" data-target="#order{{_id}}">
    <td scope="row">{{customerName}}</td>
	<td>{{contactNumber}}</td>
	<td>{{homeAddress}}</td>
	<td>{{status}}</td>
	<td>{{courier}}</td>
	<td>{{placedDate}}</td>
	<td>{{deliveryDate}}</td>
</tr>