<tr data-toggle="modal" data-id="2" data-target="#{{pitemID}}">
    <th scope="col" id="pnum1"> {{pitemID}}</th>
    <td id="">{{pname}}</td>
    <td id="">{{pamountPerPack}}</td>
    <td id="">{{pquantity}}</td>
    <td id="">{{pprice}}</td>
    <td id="">{{plowStockQuantity}}</td>
    <td><input type="checkbox" name="record"></td>
</tr>