<tr data-toggle="modal" data-id="2" data-target="#product-{{pitemID}}">
    <td >{{pname}}</td>
    <td >{{pamountPerPack}}</td>
    <td >{{pquantity}}</td>
    <td >{{pprice}}</td>
    <td >{{plowStockQuantity}}</td>
</tr>