<tr data-toggle="modal" data-id="2" data-target="#product-{{pitemID}}">
    <td id="">{{pname}}</td>
    <td id="">{{pamountPerPack}}</td>
    <td id="">{{pquantity}}</td>
    <td id="">{{pprice}}</td>
    <td id="">{{plowStockQuantity}}</td>
</tr>