<!DOCTYPE html>
<html>
    <head>
        <title>Stock Inventory</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> --}}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/inventory.css">

    	<!-- Fonts-->
	    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">   

        {{!-- JavaScript --}}
        <script src="/js/inventory.js"></script>
    </head>


    <body>
        <div class="margin">
            <div class="row">
                <div class="col-2">
                    <div class="sidenav sticky">
                        <div class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a class="nav-link sideBarOptions" href="/home"><h3><b>SioPau</b></h3></a>
                            <a class="nav-link sideBarOptions" href="/orders">Orders</a>
                            <a class="nav-link active sideBarOptions" href="/inventory">Stock Inventory</a>
                            <a class="nav-link sideBarOptions" href="/contacts">Contacts</a>
                            <hr>
                            <a class="nav-link sideBarOptions" href="/settings">Settings</a>
                            <a class="nav-link sideBarOptions" href="/user/logout">Log Out</a>
                        </div>
                    </div>
                </div>                    
            <div class="col-10 card border-0 main">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <h1><b>{{this.title}}</b></h1>
                                This page contains the available products in the inventory.
                                <br>
                                <br>
    
                                <!-- for search and add order button -->
                                <div class="row">
                                    <div class="col-1">
                                            <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Sort by
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Name</a>
                                                <a class="dropdown-item" href="#">Price (Asc.)</a>
                                                <a class="dropdown-item" href="#">Stock Quantity (Asc.)</a>	
                                            </div>
                                            </div>
                                    </div>
                                    <div class="col-6">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Filter by
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item dropdown-toggle" href="#">Name</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="#">Dumpling</a></li>
                                                            <li><a class="dropdown-item" href="#">Gyoza</a></li>
                                                            <li><a class="dropdown-item" href="#">Siomai</a></li>
                                                            <li><a class="dropdown-item" href="#">Siopao</a></li>
                                                            <li><a class="dropdown-item" href="#">Shanghai</a></li>
                                                            <li><a class="dropdown-item" href="#">Sauce</a></li>
                                                        </ul>
                                                        <a class="dropdown-item dropdown-toggle" href="#">Amount per Pack</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="#">60</a></li>
                                                            <li><a class="dropdown-item" href="#">48</a></li>
                                                            <li><a class="dropdown-item" href="#">5</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="row">
                                            <!-- search bar-->
                                            <div class="col-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-light btn-outline-secondary" type="button" id="button-addon2">Go</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- add stock -->
                                            <div class="col-3">
											    <button class="btn btn-light float-right btn-outline-secondary" data-toggle="modal" data-target="#addProduct" type="submit" style="margin-bottom: 5px;">Add Product</button>
									    	</div>

                                            <!-- delete stock -->
                                            <div class="col-3">
											    <button class="btn btn-light float-right btn-outline-secondary" data-toggle="modal" data-target="#deleteProduct" type="submit" style="margin-bottom: 5px;">Delete Product/s</button>
									    	</div>
                                        </div>
                                    </div>
                                </div>
                                        
                                <!-- Table of Inventory -->
                                <div class="card">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product #</th>
                                                <th scope="col">Name </th>
                                                <th scope="col">Amount per Pack</th>
                                                <th scope="col">Stock Quantity</th>
                                                <th scope="col">Price per Pack</th>
                                                <th scope="col">Low Stock Quantity</th>
                                                <th scope="col">Select</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            {{#each products}}
                                                <tr data-toggle="modal" data-id="2" data-target="#{{itemID}}">
                                                    <th scope="col" id="pnum1"> {{itemID}}</th>
                                                    <td id="">{{name}}</td>
                                                    <td id="">{{amountPerPack}}</td>
                                                    <td id="">{{quantity}}</td>
                                                    <td id="">{{price}}</td>
                                                    <td id="">{{lowStockQuantity}}</td>
                                                    <td><input type="checkbox" name="record"></td>
                                                </tr>
                                            
                                                <!-- Modal for Products -->
                                                <div class="modal fade" id="{{itemID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Pork Siomai</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form method="POST">
                                                                    <div class="form-group">
                                                                        <label for="productName1"><b>Product Name</b></label>
                                                                        <label id="productName1">{{name}}</label>
                                                                        <br>
                                                                        <label for="amountPerPack1"><b>{{ammountPerPack}}</b></label>
                                                                        <label id="amountPerPack1">60</label>
                                                                        <br>
                                                                        <label for="stockQuantity1"><b>Stock Quantity</b></label>
                                                                        <input type="number" class="form-control" id=""  min="0" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" value="{{quantity}}">
                                                                        <br>
                                                                        <label for="pricePerPack1"><b>Price per Pack</b></label>
                                                                        <input type="number" class="form-control" id="" value="{{price}}">
                                                                        <br>
                                                                        <label for="lowStack1"><b>Low Stack Quantity</b></label>
                                                                        <input type="number" class="form-control" id=""  min="0" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" value="{{lowStockQuantity}}">
                                                                        <br>
                                                                        <p id="errorUpdate1" style="color: red"><br></p>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" data-toggle="modal" data-id="1" data-target="#delete{{itemID}}">Delete Product</button>                      
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="button" id="change1" class="btn btn-primary">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" id="delete{{itemID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title">Delete Product</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <p>Are you sure you want to delete this product?</p>
                                                        <input type="text" id="confirmation" class="form-control validate" placeholder="CONFIRM">
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" id="deleteProductButton">Yes</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!-- end -->
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>


                                <!-- Delete Product Modal -->
                                

                                <!-- Modal For New Product -->
                                <div id="addProduct" class="modal fade" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form>
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">New Stock Product</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                
                                                <div class="modal-body">
        
                                                    <div class="md-form mb-4">
                                                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Name</label>
                                                        <input type="text" id="name" name="name" class="form-control validate">
                                                    </div>    

                                                    <div class="md-form mb-4">
                                                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Amount per Pack</label>
                                                        <input type="number" id="amountPerPack" name="amountPerPack" class="form-control validate" min="0"/>
                                                    </div>

                                                    <div class="md-form mb-4">
                                                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Stock Quantity</label>
                                                        <input type="number" id="stockQuantity" name="stockQuantity" class="form-control validate" min="0"/>
                                                    </div>

                                                    <div class="md-form mb-4">
                                                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Price per Pack</label>
                                                        <input type="number" id="pricePerPack" name="pricePerPack" class="form-control validate" min="0"/>
                                                    </div>

                                                    <div class="md-form mb-4">
                                                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Low Stock Quantity</label>
                                                        <input type="number" id="lowStockQuantity" name="pricePerPack" class="form-control validate" min="0"/>
                                                    </div>

                                                </div>
                                                
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeAddProduct">Close</button>
                                                    <button type="button" class="btn btn-primary" id="addProductButton">Add Product</button>
                                                </div>


                                            </form>
                                        
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <script>

            //NESTED DROPDOWN
            $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
                if (!$(this).next().hasClass('show')) {
                    $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
                }
                var $subMenu = $(this).next('.dropdown-menu');
                $subMenu.toggleClass('show');


                $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                    $('.dropdown-submenu .show').removeClass('show');
                });

                return false;
            });

            $(".dropdown-menu a").click(function(){
                $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
            });

            //ADD PRODUCT
           


            // Delete Product
           $("#deleteProductButton").click(function(){
                if ($.trim($('#confirmation').val()) != "CONFIRM"){
                    alert('Delete confirmation failed');
                }
                else {
                    $("table tbody").find('input[name="record"]').each(function(){
                        if($(this).is(":checked")){
                            $(this).parents("tr").remove();
                        }
                    });
                }
                $("#deleteProduct").modal("hide");
                $('#confirmation').val('');
            });



            /*
                MODALS
            */

            //product 1
            $("#change1").click(function() {
                var stock = $("#stockQuantity1").val();
                var price = $("#pricePerPack1").val();
                var low = $("#lowStack1").val();

                //check if empty or contains E or e
                //price decimals are allowed
                if(!stock.trim() || !low.trim() || !price.trim() || price.toString().includes('e') || price.toString().includes('E')) { 
                    $("#errorUpdate1").text("Changes are not saved. Make sure to fill in all fields. Characters 'E' and 'e' are not allowed.");
                    $("#stockOneModal").modal({"backdrop": "static"});
                }
                //check if <=0
                else if(price.trim()<=0) { 
                    $("#errorUpdate1").text("Changes are not saved. Negative values are not allowed.");
                    $("#stockOneModal").modal({"backdrop": "static"});
                }
                else {
                    $("#stock1").text(stock);
                    $("#stockQuantity1").val(stock);
                    $("#price1").text("P" + price);
                    $("#pricePerPack1").val(price);
                    $("#low1").text(low);
                    $("#lowStack1").val(low);

                    $("#stockOneModal").modal("hide");
                    $("#errorUpdate1").text(" ");
                }
            }); 

            //product 2
            $("#change2").click(function() {
                var stock = $("#stockQuantity2").val();
                var price = $("#pricePerPack2").val();
                var low = $("#lowStack2").val();

                //check if empty or contains E or e
                if(!stock.trim() || !low.trim() || !price.trim() || price.toString().includes('e') || price.toString().includes('E')) { 
                    $("#errorUpdate2").text("Changes are not saved. Make sure to fill in all fields. Characters 'E' and 'e' are not allowed.");
                    $("#stockTwoModal").modal({"backdrop": "static"});
                }
                //check if <=0
                else if(price.trim()<=0) { 
                    $("#errorUpdate2").text("Changes are not saved. Negative values are not allowed.");
                    $("#stockTwoModal").modal({"backdrop": "static"});
                }
                else {
                    $("#stock2").text(stock);
                    $("#stockQuantity2").val(stock);
                    $("#price2").text("P" + price);
                    $("#pricePerPack2").val(price);
                    $("#low2").text(low);
                    $("#lowStack2").val(low);

                    $("#stockTwoModal").modal("hide");
                    $("#errorUpdate2").text(" ");
                }
            }); 

            //product 3
            $("#change3").click(function() {
                var stock = $("#stockQuantity3").val();
                var price = $("#pricePerPack3").val();
                var low = $("#lowStack3").val();

                //check if empty or contains E or e
                if(!stock.trim() || !low.trim() || !price.trim() || price.toString().includes('e') || price.toString().includes('E')) { 
                    $("#errorUpdate3").text("Changes are not saved. Make sure to fill in all fields. Characters 'E' and 'e' are not allowed.");
                    $("#stockThreeModal").modal({"backdrop": "static"});
                }
                //check if <=0
                else if(price.trim()<=0) { 
                    $("#errorUpdate3").text("Changes are not saved. Negative values are not allowed.");
                    $("#stockThreeModal").modal({"backdrop": "static"});
                }
                else {
                    $("#stock3").text(stock);
                    $("#stockQuantity3").val(stock);
                    $("#price3").text("P" + price);
                    $("#pricePerPack3").val(price);
                    $("#low3").text(low);
                    $("#lowStack3").val(low);

                    $("#stockThreeModal").modal("hide");
                    $("#errorUpdate3").text(" ");
                }
            }); 
        
            //product 4
            $("#change4").click(function() {
                var stock = $("#stockQuantity4").val();
                var price = $("#pricePerPack4").val();
                var low = $("#lowStack4").val();

                //check if empty or contains E or e
                if(!stock.trim() || !low.trim() || !price.trim() || price.toString().includes('e') || price.toString().includes('E')) { 
                    $("#errorUpdate4").text("Changes are not saved. Make sure to fill in all fields. Characters 'E' and 'e' are not allowed.");
                    $("#stockFourModal").modal({"backdrop": "static"});
                }
                //check if <=0
                else if(price.trim()<=0) { 
                    $("#errorUpdate4").text("Changes are not saved. Negative values are not allowed.");
                    $("#stockFourModal").modal({"backdrop": "static"});
                }
                else {
                    
                    $("#stock4").text(stock);
                    $("#stockQuantity4").val(stock);
                    $("#price4").text("P" + price);
                    $("#pricePerPack4").val(price);
                    $("#low4").text(low);
                    $("#lowStack4").val(low);

                    $("#stockFourModal").modal("hide");
                    $("#errorUpdate4").text(" ");
                }
            }); 

            //product 5
            $("#change5").click(function() {
                var stock = $("#stockQuantity5").val();
                var price = $("#pricePerPack5").val();
                var low = $("#lowStack5").val();

                //check if empty or contains E or e
                if(!stock.trim() || !low.trim() || !price.trim() || price.toString().includes('e') || price.toString().includes('E')) { 
                    $("#errorUpdate5").text("Changes are not saved. Make sure to fill in all fields. Characters 'E' and 'e' are not allowed.");
                    $("#stockFiveModal").modal({"backdrop": "static"});
                }
                //check if <=0
                else if(price.trim()<=0) { 
                    $("#errorUpdate5").text("Changes are not saved. Negative values are not allowed.");
                    $("#stockFiveModal").modal({"backdrop": "static"});
                }                
                else {    
                    $("#stock5").text(stock);
                    $("#stockQuantity5").val(stock);
                    $("#price5").text("P" + price);
                    $("#pricePerPack5").val(price);
                    $("#low5").text(low);
                    $("#lowStack5").val(low);

                    $("#stockFiveModal").modal("hide");
                    $("#errorUpdate5").text(" ");
                }
            }); 

            //product 6
            $("#change6").click(function() {
                var stock = $("#stockQuantity6").val();
                var price = $("#pricePerPack6").val();
                var low = $("#lowStack6").val();

                //check if empty or contains E or e
                if(!stock.trim() || !low.trim() || !price.trim() || price.toString().includes('e') || price.toString().includes('E')) { 
                    $("#errorUpdate6").text("Changes are not saved. Make sure to fill in all fields. Characters 'E' and 'e' are not allowed.");
                    $("#stockSixModal").modal({"backdrop": "static"});
                }
                //check if <=0
                else if(price.trim()<=0) { 
                    $("#errorUpdate6").text("Changes are not saved. Negative values are not allowed.");
                    $("#stockSixModal").modal({"backdrop": "static"});
                }
                else {
                    
                    $("#stock6").text(stock);
                    $("#stockQuantity6").val(stock);
                    $("#price6").text("P" + price);
                    $("#pricePerPack6").val(price);
                    $("#low6").text(low);
                    $("#lowStack6").val(low);

                    $("#stockSixModal").modal("hide");
                    $("#errorUpdate6").text(" ");
                }
            }); 

            //product 7
            $("#change7").click(function() {
                var stock = $("#stockQuantity7").val();
                var price = $("#pricePerPack7").val();
                var low = $("#lowStack7").val();

                //check if empty or contains E or e
                if(!stock.trim() || !low.trim() || !price.trim() || price.toString().includes('e') || price.toString().includes('E')) { 
                    $("#errorUpdate7").text("Changes are not saved. Make sure to fill in all fields. Characters 'E' and 'e' are not allowed.");
                    $("#stockSevenModal").modal({"backdrop": "static"});
                }
                //check if <=0
                else if(price.trim()<=0) { 
                    $("#errorUpdate7").text("Changes are not saved. Negative values are not allowed.");
                    $("#stockSevenModal").modal({"backdrop": "static"});
                }
                else {
                    
                    $("#stock7").text(stock);
                    $("#stockQuantity7").val(stock);
                    $("#price7").text("P" + price);
                    $("#pricePerPack7").val(price);
                    $("#low7").text(low);
                    $("#lowStack7").val(low);

                    $("#stockSevenModal").modal("hide");
                    $("#errorUpdate7").text(" ");
                }
            }); 

            //product 8
            $("#change8").click(function() {
                var stock = $("#stockQuantity8").val();
                var price = $("#pricePerPack8").val();
                var low = $("#lowStack8").val();

                //check if empty or contains E or e
                if(!stock.trim() || !low.trim() || !price.trim() || price.toString().includes('e') || price.toString().includes('E')) { 
                    $("#errorUpdate8").text("Changes are not saved. Make sure to fill in all fields. Characters 'E' and 'e' are not allowed.");
                    $("#stockEightModal").modal({"backdrop": "static"});
                }
                //check if <=0
                else if(price.trim()<=0) { 
                    $("#errorUpdate8").text("Changes are not saved. Negative values are not allowed.");
                    $("#stockEightModal").modal({"backdrop": "static"});
                }
                else {
                    
                    $("#stock8").text(stock);
                    $("#stockQuantity8").val(stock);
                    $("#price8").text("P" + price);
                    $("#pricePerPack8").val(price);
                    $("#low8").text(low);
                    $("#lowStack8").val(low);

                    $("#stockEightModal").modal("hide");
                    $("#errorUpdate8").text(" ");
                }
            });

            //product 9
            $("#change9").click(function() {
                var stock = $("#stockQuantity9").val();
                var price = $("#pricePerPack9").val();
                var low = $("#lowStack9").val();

                //check if empty or contains E or e
                if(!stock.trim() || !low.trim() || !price.trim() || price.toString().includes('e') || price.toString().includes('E')) { 
                    $("#errorUpdate9").text("Changes are not saved. Make sure to fill in all fields. Characters 'E' and 'e' are not allowed.");
                    $("#stockNineModal").modal({"backdrop": "static"});
                }
                //check if <=0
                else if(price.trim()<=0) { 
                    $("#errorUpdate9").text("Changes are not saved. Negative values are not allowed.");
                    $("#stockNineModal").modal({"backdrop": "static"});
                }
                else {
                    
                    $("#stock9").text(stock);
                    $("#stockQuantity9").val(stock);
                    $("#price9").text("P" + price);
                    $("#pricePerPack9").val(price);
                    $("#low9").text(low);
                    $("#lowStack9").val(low);

                    $("#stockNineModal").modal("hide");
                    $("#errorUpdate9").text(" ");
                }
            });
        </script>

        </script>

        <!-- JS-->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </body>
</html>