<!DOCTYPE html>
<html>
<head>
	<title>Manage Orders</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="css/orders.css">

	<!-- Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	<!-- JS -->
	<script src="/js/orders.js"></script>

	<!-- PDF -->
	<meta charset="utf-8" />
    <script src="https://unpkg.com/pdf-lib@1.4.0"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>

</head>
<body>

	<div class="margin">
		<div class="row">
			<div class="col-2">
					<div class="sidenav sticky">
                        <div class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a class="nav-link sideBarOptions" href="/home"><h3><b>SioPau</b></h3></a>
                            <a class="nav-link active sideBarOptions" href="/orders">Orders</a>
                            <a class="nav-link sideBarOptions" href="/inventory">Stock Inventory</a>
                            <a class="nav-link sideBarOptions" href="/contacts">Contacts</a>
							<hr>
                            <a class="nav-link sideBarOptions" href="/settings">Settings</a>
                            <a class="nav-link sideBarOptions" href="/user/logout">Log Out</a>
                        </div>
                    </div>
			</div>
			<div class="col-10 card border-0 main">
				<div class="card-body">
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
							<h1><b>Manage Orders</b></h1>
							<p id="p1">This page contains the orders and their informations. </p>
							<br>
							<br>

							<!-- for search and add order button -->
							<div class="row">
								<div class="col-1">
										<div class="dropdown">
										  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    Sort by
										  </button>
										  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										    <a class="dropdown-item" href="#">Order No.</a>
										    <a class="dropdown-item" href="#">Status</a>
										    <a class="dropdown-item" href="#">Delivery Date</a>
										  </div>
										</div>
								</div>
								<div class="col-7">
									
									<!-- Filter button -->
									<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Filter by
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<li class="dropdown-submenu">
												<a class="dropdown-item dropdown-toggle" href="#">Status</a>
												<ul class="dropdown-menu">
													<li><a class="dropdown-item" href="#">Confirmed</a></li>
													<li><a class="dropdown-item" href="#">Paid</a></li>
													<li><a class="dropdown-item" href="#">Delivering</a></li>
													<li><a class="dropdown-item" href="#">Completed</a></li>
													<li><a class="dropdown-item" href="#">Cancelled</a></li>
												</ul>
												<a class="dropdown-item dropdown-toggle" href="#">Payment Method</a>
												<ul class="dropdown-menu">
													<li><a class="dropdown-item" href="#">Cash On Delivery</a></li>
													<li><a class="dropdown-item" href="#">GCash</a></li>
												</ul>
												<a class="dropdown-item dropdown-toggle" href="#">Courier</a>
												<ul class="dropdown-menu">
													<li><a class="dropdown-item" href="#">Castilla</a></li>
													<li><a class="dropdown-item" href="#">GrabExpress</a></li>
												</ul>
												<a class="dropdown-item dropdown-toggle" href="#">City/Municipality</a>
												<ul class="dropdown-menu">
													<a class="dropdown-item" href="#">
														<input type="text" class="form-control" placeholder="City/Municipality" aria-label="order number" aria-describedby="button-addon2">
														<div class="input-group-append">
															<button class="btn-xs btn-light btn-outline-secondary" type="button" id="button-addon2" style="margin-top:5px;">Go</button>
														</div>
													</a>

												</ul>
												<a class="dropdown-item dropdown-toggle" href="#">Date Placed</a>
												<ul class="dropdown-menu">
													<li><a class="dropdown-item" href="#"><input type="date" id="defaultForm-pass" class="form-control validate"></a></li>
												</ul>
												<a class="dropdown-item dropdown-toggle" href="#">Delivery Date</a>
												<ul class="dropdown-menu">
													<li><a class="dropdown-item" href="#"><input type="date" id="defaultForm-pass" class="form-control validate"></a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-4">
									<div class="row">
										<!-- search bar-->
										<div class="col-7">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Order Number" aria-label="order number" aria-describedby="button-addon2">
												<div class="input-group-append">
													<button class="btn btn-light btn-outline-secondary" type="button" id="button-addon2">Go</button>
												</div>
											</div>
										</div>

										<!-- add order -->
										<div class="col-5">
											<button class="btn btn-light float-right btn-outline-secondary" data-toggle="modal" data-target="#addOrder" type="submit" style="margin-bottom: 5px;">Add Order</button>
										</div>
									</div>
								</div>
							</div>

							<!-- table of customers-->
							<div class="card">
								<table class="table table-hover">
									<thead>
										<tr>
											<th scope="col">Name</th>
											<th scope="col">Contact Number</th>
											<th scope="col">Address</th>
											<th scope="col">Status</th>
											<th scope="col">Courier</th>
											<th scope="col">Date Placed</th>
											<th scope="col">Delivery Date</th>
										</tr>
									</thead>
									<tbody id="tbody">
										{{#each contents}}
										<tr data-toggle="modal" data-id="2" data-target="#order{{_id}}">
											<th scope="row">{{customerName}}</th>
											<td>{{contactNumber}}</td>
											<td>{{homeAddress}}</td>
											<td>{{status}}</td>
											<td>{{courier}}</td>
											<td>{{placedDate}}</td>
											<td>{{deliveryDate}}</td>
										</tr>

										<!-- Order Modal -->
										<div class="modal fade" id="order{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <h5 class="modal-title" id="titleModal">{{customerName}}</h5>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										          <span aria-hidden="true">&times;</span>
										        </button>
										      </div>
										      <div class="modal-body">

										      	<label style="color:#A39E9C"> Contact Number </label>
										      	<input type="text" class="form-control" id="contactNumberModal" value="{{contactNumber}}">
										      	<label style="color:#A39E9C"> Home Address </label>
										      	<input type="text" class="form-control" id="homeAddressModal" value="{{homeAddress}}">
										      	<label style="color:#A39E9C"> City/Municipality </label>
										      	<input type="text" class="form-control" id="cityModal" value="{{city}}">
										      	<label style="color:#A39E9C"> Courier </label>
										      	<div class="info">
													<div class="dropdown">
													  <button class="btn btn-light dropdown-toggle" type="button" id="courierModal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{{courier}}">
													    {{courier}}
													  </button>
													  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													    <a class="dropdown-item" href="#">GrabExpress</a>
													    <a class="dropdown-item" href="#">Castilla</a>
													    <a class="dropdown-item" href="#">LalaMove</a>
													    <a class="dropdown-item" href="#">MrSpeedy</a>
													  </div>
													</div>
										      	</div>	
										      	<label style="color:#A39E9C"> Date Placed</label>
										      	<input class= "info" type="date" id="placedDateModal" name="trip-start" value="{{placedDate}}" readonly>		
										      	<label style="color:#A39E9C"> Delivery Date</label>
										      	<input class= "info" type="date" id="deliveryDateModal" name="trip-start" value="{{deliveryDate}}">							  
										      	<label style="color:#A39E9C"> Payment Method</label>
										      	<div class="info">
													<div class="dropdown">
													  <button class="btn btn-light dropdown-toggle" type="button" id="paymentMethodModal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{{paymentMethod}}">
													    {{paymentMethod}}
													  </button>
													  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													    <a class="dropdown-item" href="#">GCash</a>
													    <a class="dropdown-item" href="#">CoD</a>
													    <a class="dropdown-item" href="#">PayMaya</a>
													  </div>
													</div>
										      	</div>	
										      	<label style="color:#A39E9C"> Status</label>
										      	<div class="info">
													<div class="dropdown">
													  <button class="btn btn-light dropdown-toggle" type="button" id="statusModal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{{status}}">
													    {{status}}
													  </button>
													  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													  	<a class="dropdown-item" href="#">Confirmed</a>
													    <a class="dropdown-item" href="#">Paid</a>
													    <a class="dropdown-item" href="#">Delivering</a>
													    <a class="dropdown-item" href="#">Completed</a>
													    <a class="dropdown-item" href="#">Cancelled</a>
													  </div>
													</div>
										      	</div>									  

										      	<!-- table for ordered products -->
										      	<div class="info">
										      		<!--
													    <table class="table table-hover">
															<thead>
																<tr>
																	<th scope="col">Product</th>
																	<th scope="col">Quantity</th>
																	<th scope="col">Price</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">Pork Siomai</th>
																	<td>8</td>
																	<td>530</td>
																</tr>
																<tr>
																	<th scope="row">Gyoza</th>
																	<td>3</td>
																	<td>130</td>
																</tr>
															</tbody>
													</table>
												-->
												</div>
												<label style="color:#A39E9C"> Overall Price</label>
										      	<input type="text" class="form-control" id="overallPriceModal" value="{{productTotal}}">		
										      	<label style="color:#A39E9C"> Delivery Fee</label>
										      	<input type="text" class="form-control" id="deliveryFeeModal" value="{{deliveryFee}}">
										      	<label style="color:#F05959; font-weight: bold;"> Total Amount</label>
										      	<input type="text" class="form-control" id="totalPriceModal" style="font-weight:bold;"  value="5">
										      </div>
										      <div class="modal-footer">
												  <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-id="2" data-target="#deleteOrder" style="float:left;">Delete Order</button>
												  <button type="button" class="btn btn-info mr-auto" data-dismiss="modal" style="float:left;" onclick="createPdf($(this).parent().parent().parent().parent().attr('id'))">Print</button>
												  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												  <button id="saveChangesModal" type="button" class="btn btn-primary">Save changes</button>
										      </div>
										    </div>
										  </div>
										</div>
                                                <!-- end -->
										{{/each}} 
									</tbody> 
								</table>
							</div>

							
							<!-- Modal For Deleting Order -->
							<div class="modal fade" id="deleteOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title">Order Deletion</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        <p>Are you sure you want to delete this order?</p>
							        <input type="text" id="defaultForm-pass" class="form-control validate">
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-danger">Yes</button>
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							      </div>
							    </div>	
							  </div>
							</div>

							


							<!-- Modal For Adding Order -->
							<div id="addOrder" class="modal fade" role="dialog">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">Add Order</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
	
							        <div class="md-form mb-4">
							     	  <label data-error="wrong" data-success="right" for="defaultForm-pass">Name</label>
							          <input type="text" id="customerName" name="customerName" class="form-control validate">
							        </div>

							        <div class="md-form mb-4">
							     	  <label data-error="wrong" data-success="right" for="defaultForm-pass">Contact Number</label>
							          <input type="number" id="contactNumber" name="contactNumber" class="form-control validate">
							        </div>


							        <div class="md-form mb-4">
							     	  <label data-error="wrong" data-success="right" for="defaultForm-pass"><b>Address</b></label>
							     	  <label data-error="wrong" data-success="right" for="defaultForm-pass">Home Address</label>
							          <input type="text" id="homeAddress" name="homeAddress" class="form-control validate">
							          <label data-error="wrong" data-success="right" for="defaultForm-pass">City/Municipality</label>
							          <input type="text" id="city" name="city" class="form-control validate">
							        </div>

							      	<div class="md-form mb-4">
							      		<label data-error="wrong" data-success="right" for="defaultForm-pass">Customer Order</label>
									    <table class="table table-hover">
											<thead>
												<tr>
													<th scope="col">Product</th>
													<th scope="col">Quantity</th>
													<th scope="col">Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">Siomai & Dumplings Pack</th>
													<td><input type="number" id="siomaiDumplingInput" class="form-control validate"></td>
													<td><p id="siomaiDumpling" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Pork Siomai</th>
													<td><input type="number" id="porkSiomaiInput" class="form-control validate"></td>
													<td><p id="porkSiomai" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Lumpia Shanghai</th>
													<td><input type="number" id="lumpiaShanghaiInput" class="form-control validate"></td>
													<td><p id="lumpiaShanghai" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Gyoza</th>
													<td><input type="number" id="gyozaInput" class="form-control validate"></td>
													<td><p id="gyoza" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Sharksfin Dumplings</th>
													<td><input type="number" id="sharksfinInput" class="form-control validate"></td>
													<td><p id="sharksfin" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Beef Siomai</th>
													<td><input type="number" id="beefSiomaiInput" class="form-control validate"></td>
													<td><p id="beefSiomai" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Chicken Siomai</th>
													<td><input type="number" id="chickenSiomaiInput" class="form-control validate"></td>
													<td><p id="chickenSiomai" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Siopao Mini</th>
													<td><input type="number" id="siopaoMiniInput" class="form-control validate"></td>
													<td><p id="siopaoMini" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Siopao (Asado)</th>
													<td><input type="number" id="siopaoAsadoInput" class="form-control validate"></td>
													<td><p id="siopaoAsado" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Siopao (Bola-Bola)</th>
													<td><input type="number" id="siopaoBolaBolaInput" class="form-control validate"></td>
													<td><p id="siopaoBolaBola" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Holsin Sauce</th>
													<td><input type="number" id="holsinSauceInput" class="form-control validate"></td>
													<td><p id="holsinSauce" class="form-control validate"></p></td>
												</tr>
												<tr>
													<th scope="row">Chili Sauce</th>
													<td><input type="number" id="chiliSauceInput" class="form-control validate"></td>
													<td><p id="chiliSauce" class="form-control validate"></p></td>
												</tr>
											</tbody>
										</table>
										<label data-error="wrong" data-success="right" for="defaultForm-pass">DeliveryFee</label>
										<input type="number" id="deliveryFee" name="deliveryFee" class="form-control validate">
										<label data-error="wrong" data-success="right" for="defaultForm-pass">Total Amount</label>
										<input type="number" id="productTotal" name="productTotal" class="form-control validate">
							      	</div>

							      	<div class="md-form mb-4">
							     	  	<label data-error="wrong" data-success="right" for="defaultForm-pass">Payment Method</label>
							          	<div class="dropdown" style="float:left; clear:both;">
											<button class="btn btn-light dropdown-toggle" type="button"  id="paymentMethod" name="paymentMethod" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											  Method
											</button>
											<div class="dropdown-menu" aria-labelledby="courierType">
											    <a class="dropdown-item" href="#">gcash</a>
											    <a class="dropdown-item" href="#">cod</a>
											    <a class="dropdown-item" href="#">paymaya </a>
											</div>
										</div>
							        </div>

							        <div class="md-form mb-4">
							     	  	<label data-error="wrong" data-success="right" for="defaultForm-pass">Courier</label>
							          	<div class="dropdown" style="float:left; clear:both;">
											<button class="btn btn-light dropdown-toggle" type="button" id="courier" name="courier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											  Courier Type
											</button>
											<div class="dropdown-menu" aria-labelledby="courierType">
											    <a class="dropdown-item" href="#">lalamove</a>
											    <a class="dropdown-item" href="#">castilla</a>
											    <a class="dropdown-item" href="#">mrspeedy</a>
											    <a class="dropdown-item" href="#">grabexpress</a>
											</div>
							        	</div>
							        </div>
							        <div class="md-form mb-4">
							     	  	<label data-error="wrong" data-success="right" for="defaultForm-pass">Status</label>
							          	<div class="dropdown" style="float:left; clear:both;">
											<button class="btn btn-light dropdown-toggle" type="button" id="status" name="status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											  Courier Type
											</button>
											<div class="dropdown-menu" aria-labelledby="courierType">
											    <a class="dropdown-item" href="#">confirmed</a>
											    <a class="dropdown-item" href="#">paid </a>
											    <a class="dropdown-item" href="#">delivering</a>
											    <a class="dropdown-item" href="#">completed </a>
											    <a class="dropdown-item" href="#">cancelled</a>
											</div>
							        	</div>
							        </div>
							        <div class="md-form mb-4">
							     	  <label data-error="wrong" data-success="right" for="defaultForm-pass">Delivery Date</label>
							          <input type="date" id="deliveryDate" name="deliveryDate" class="form-control validate">
							        </div>

							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							        <button type="button" class="btn btn-primary" id="submitOrder" data-dismiss="modal">Add Order</button>
							      </div>
							    </div>
							  </div>
							</div>
							

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


<script>
/* print pdf */
    const { PDFDocument, StandardFonts, rgb } = PDFLib
    async function createPdf(data) {
      // Create a new PDFDocument
      const pdfDoc = await PDFDocument.create()
      // Embed the Helvetica
      const helvetica = await pdfDoc.embedFont(StandardFonts.Helvetica)
      const helveticaBold = await pdfDoc.embedFont(StandardFonts.HelveticaBold)      
      // Add a blank page to the document
      const page = pdfDoc.addPage()
      // Get the width and height of the page
      const { width, height } = page.getSize()
      // Draw a string of text toward the top of the page
      const fontSize = 20
      var title = 'Receipt';
      page.drawText( title + '\n', {
        x: 50,
        y: height - 4 * fontSize,
        size: fontSize,
        font: helveticaBold,
        color: rgb(0, 0, 0),
      });
      const fontSizeBody = 14;
	  var modalId = ("#" + data);
	  var name =  ($((modalId +" #titleModal")).text()).toString();
      var number = ($((modalId + " #contactNumberModal")).val()).toString();
      var address = ($((modalId +" #homeAddressModal")).val()).toString() + ", " + ($((modalId +" #cityModal")).val()).toString();
      var placed =  ($((modalId +" #placedDateModal")).val());
      var deliverydate = ($((modalId +" #deliveryDateModal")).val());
      var courier = ($((modalId +" #courierModal")).val()).toString();
      var status = ($((modalId +" #statusModal")).val()).toString();
      page.drawText("\n\nName:                       " + name + 
                    "\nContact Number:      " + number +
                    "\nAddress:                   " + address + 
                    "\nDate Placed:             " + placed +
                    "\nDelivery Date:           " + deliverydate + 
                    "\nCourier:                     " + courier + 
                    "\n\n\n INSERT TABLE OF ITEMS HERE \n\n\n" + 
                    "\nStatus:                     " + status +
                    "\n"
                    ,
      {
        x: 50,
        y: height - 6 * fontSizeBody,
        size: fontSizeBody,
        font: helvetica,
        color: rgb(0, 0, 0),
      });
      const fontSizeFees = 14
      var overall =  ($("#overallPriceModal").val()).toString();
      var dfee = ($("#deliveryFeeModal").val()).toString();
      var total = ($("#totalPriceModal").val()).toString();
      page.drawText( "\n\nOverall Payment:                      " + overall + 
                     "\nDelivery Fee:                           " + dfee +
                     "\nTotal Price:                               " + total
        , {
        x: 50,
        y: height - 20 * fontSize,
        size: fontSizeFees,
        font: helveticaBold,
        color: rgb(0, 0, 0),
      });
      // Serialize the PDFDocument to bytes (a Uint8Array)
      const pdfBytes = await pdfDoc.save()
      // Trigger the browser to download the PDF document
      download(pdfBytes, name  + ".pdf", "application/pdf");
    };

 

	   /* nested dropdown */
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        }
        var $subMenu = $(this).next('.dropdown-menu');
        $subMenu.toggleClass('show');
        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
            $('.dropdown-submenu .show').removeClass('show');
        });
        return false;
    });
    $(".dropdown-menu a").click(function(){
        $(this).parents(".dropdown").find('.btn').html($(this).text());
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });
	/* order number 
	$("#addOrderButton").click(function(){
			var element = $("#tbody");
			var primaryTag = $("<tr></tr>");
			primaryTag.attr("data-toggle", "modal");
			primaryTag.attr("data-target", "#orderModal");
			primaryTag.attr("data-id", "2");
			var th = $("<th></th>");
			th.attr("scope","row");
			var td1 = $("<td></td>");
			td1.text($("#name").val());
			var td2 = $("<td></td>");
			td2.text($("#contact").val());
			var td3 = $("<td></td>");
			td3.text($("#homeAddress").val());
			var td4 = $("<td></td>");
			td4.text($("#method").text()); 
			var td5 = $("<td></td>");
			td5.text($("#courier").text()); 
			

			var td6 = $("<td></td>");
			var today = new Date();
			var dd = String(today.getDate()).padStart(2, '0');
			var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
			var yyyy = today.getFullYear();
			today = yyyy + '-' + mm + '-' + dd;
			td6.text(today);


			var td7 = $("<td></td>");
			td7.text($("#deliveryDate").val());
			primaryTag.append(th);
			primaryTag.append(td1);
			primaryTag.append(td2);
			primaryTag.append(td3);
			primaryTag.append(td4);
			primaryTag.append(td5);
			primaryTag.append(td6);
			primaryTag.append(td7);
			element.append(primaryTag);
			
	}); 
	*/
	$("#change1").click(function() {
                var name = $("#customerNameModal1").val();
                var contactNumber = $("#contactNumberModal1").val();
                var deliveryDate = $("#deliveryDateModal1").val();
                var homeAddress = $("#homeAddressModal1").val();
                var city = $("#cityModal1").val();
                var status = $("#statusModal1").text();
                var courier = $("#courierModal1").text();
                var paymentMethod = $("#paymentMethodModal1").text();
               
                
                if(name.trim() && contactNumber.trim() && homeAddress.trim() && city.trim() && status.trim() && courier.trim() && paymentMethod.trim()) { 
                    /* modal values */
                    $("#customerNameModal1").text(name);
                    $("#contactNumberModal1").val(contactNumber);
                    $("#deliveryDateModal1").val(deliveryDate);
                    $("#homeAddressModal1").text(homeAddress);
                    $("#cityModal1").text(city);
                    $("#statusModal1").val(status);
                    $("#courierModal1").val(courier);
                    $("#paymentMethodModal1").val(paymentMethod);
                    /* row values */
                    $("#rowName1").html(name);
                    $("#rowContact1").html(contactNumber);
                    $("#rowDeliveryDate1").html(deliveryDate);
                    $("#rowHomeAddress1").html(homeAddress);
                    $("#rowStatus1").html(status);
                    $("#rowCourier1").html(courier);
                    $("#orderOneModal").modal("hide");
                }
                else {
                    /* $("#errorUpdate1").text("Changes are not saved. Fill in all fields."); */
                    $("#orderOneModal").modal({"backdrop": "static"});
                }
            });
	$("#change2").click(function() {
                var name = $("#customerNameModal2").val();
                var contactNumber = $("#contactNumberModal2").val();
                var deliveryDate = $("#deliveryDateModal2").val();
                var homeAddress = $("#homeAddressModal2").val();
                var city = $("#cityModal2").val();
                var status = $("#statusModal2").text();
                var courier = $("#courierModal2").text();
                var paymentMethod = $("#paymentMethodModal2").text();
               
                    
                if(name.trim() && contactNumber.trim() && homeAddress.trim() && city.trim() && status.trim() && courier.trim() && paymentMethod.trim()) { 
                    /* modal values */
                    $("#customerNameModal2").text(name);
                    $("#contactNumberModal2").val(contactNumber);
                    $("#deliveryDateModal2").val(deliveryDate);
                    $("#homeAddressModal2").text(homeAddress);
                    $("#cityModal2").text(city);
                    /* row values */
                    $("#rowName2").html(name);
                    $("#rowContact2").html(contactNumber);
                    $("#rowDeliveryDate2").html(deliveryDate);
                    $("#rowHomeAddress2").html(homeAddress);
                    $("#rowStatus2").html(status);
                    $("#rowCourier2").html(courier);
                    $("#orderTwoModal").modal("hide");
                }
                else {
                    /* $("#errorUpdate1").text("Changes are not saved. Fill in all fields."); */
                    $("#orderTwoModal").modal({"backdrop": "static"});
                }
            });
	$("#change3").click(function() {
                var name = $("#customerNameModal3").val();
                var contactNumber = $("#contactNumberModal3").val();
                var deliveryDate = $("#deliveryDateModal3").val();
                var homeAddress = $("#homeAddressModal3").val();
                var city = $("#cityModal3").val();
               	var status = $("#statusModal3").text();
                var courier = $("#courierModal3").text();
                var paymentMethod = $("#paymentMethodModal3").text();
                    
                if(name.trim() && contactNumber.trim() && homeAddress.trim() && city.trim() && status.trim() && courier.trim() && paymentMethod.trim()) { 
                    /* modal values */
                    $("#customerNameModal3").text(name);
                    $("#contactNumberModal3").val(contactNumber);
                    $("#deliveryDateModal3").val(deliveryDate);
                    $("#homeAddressModal3").text(homeAddress);
                    $("#cityModal3").text(city);
                    /* row values */
                    $("#rowName3").html(name);
                    $("#rowContact3").html(contactNumber);
                    $("#rowDeliveryDate3").html(deliveryDate);
                    $("#rowHomeAddress3").html(homeAddress);
                    $("#rowStatus3").html(status);
                    $("#rowCourier3").html(courier);
                    $("#orderThreeModal").modal("hide");
                }
                else {
                    /* $("#errorUpdate1").text("Changes are not saved. Fill in all fields."); */
                    $("#orderThreeModal").modal({"backdrop": "static"});
                }
            });
	$("#change4").click(function() {
                var name = $("#customerNameModal4").val();
                var contactNumber = $("#contactNumberModal4").val();
                var deliveryDate = $("#deliveryDateModal4").val();
                var homeAddress = $("#homeAddressModal4").val();
                var city = $("#cityModal4").val();
               	var status = $("#statusModal4").text();
                var courier = $("#courierModal4").text();
                var paymentMethod = $("#paymentMethodModal4").text();
                    
                if(name.trim() && contactNumber.trim() && homeAddress.trim() && city.trim() && status.trim() && courier.trim() && paymentMethod.trim()) { 
                    /* modal values */
                    $("#customerNameModal4").text(name);
                    $("#contactNumberModal4").val(contactNumber);
                    $("#deliveryDateModal4").val(deliveryDate);
                    $("#homeAddressModal4").text(homeAddress);
                    $("#cityModal4").text(city);
                    /* row values */
                    $("#rowName4").html(name);
                    $("#rowContact4").html(contactNumber);
                    $("#rowDeliveryDate4").html(deliveryDate);
                    $("#rowHomeAddress4").html(homeAddress);
                    $("#rowStatus4").html(status);
                    $("#rowCourier4").html(courier);
                    $("#orderFourModal").modal("hide");
                }
                else {
                    /* $("#errorUpdate1").text("Changes are not saved. Fill in all fields."); */
                    $("#orderFourModal").modal({"backdrop": "static"});
                }
            });
	$("#change5").click(function() {
                var name = $("#customerNameModal5").val();
                var contactNumber = $("#contactNumberModal5").val();
                var deliveryDate = $("#deliveryDateModal5").val();
                var homeAddress = $("#homeAddressModal5").val();
                var city = $("#cityModal5").val();
               	var status = $("#statusModal5").text();
                var courier = $("#courierModal5").text();
                var paymentMethod = $("#paymentMethodModal5").text();
                    
                if(name.trim() && contactNumber.trim() && homeAddress.trim() && city.trim() && status.trim() && courier.trim() && paymentMethod.trim()) { 
                    /* modal values */
                    $("#customerNameModal5").text(name);
                    $("#contactNumberModal5").val(contactNumber);
                    $("#deliveryDateModal5").val(deliveryDate);
                    $("#homeAddressModal5").text(homeAddress);
                    $("#cityModal5").text(city);
                    /* row values */
                    $("#rowName5").html(name);
                    $("#rowContact5").html(contactNumber);
                    $("#rowDeliveryDate5").html(deliveryDate);
                    $("#rowHomeAddress5").html(homeAddress);
                    $("#rowStatus5").html(status);
                    $("#rowCourier5").html(courier);
                    $("#orderFiveModal").modal("hide");
                }
                else {
                    /* $("#errorUpdate1").text("Changes are not saved. Fill in all fields."); */
                    $("#orderFiveModal").modal({"backdrop": "static"});
                }
            });
	$(function(){
	  $('#siomaiDumplingInput').on('input', function() {
	  		var element = $("#siomaiDumpling");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 180
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#porkSiomaiInput').on('input', function() {
	  		var element = $("#porkSiomai");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 200
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#lumpiaShanghaiInput').on('input', function() {
	  		var element = $("#lumpiaShanghai");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 205
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#gyozaInput').on('input', function() {
	  		var element = $("#gyoza");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 200
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#beefSiomaiInput').on('input', function() {
	  		var element = $("#beefSiomai");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 220
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#chickenSiomaiInput').on('input', function() {
	  		var element = $("#chickenSiomai");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 210
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#siopaoMiniInput').on('input', function() {
	  		var element = $("#siopaoMini");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 140
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#siopaoAsadoInput').on('input', function() {
	  		var element = $("#siopaoAsado");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 240
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#siopaoBolaBolaInput').on('input', function() {
	  		var element = $("#siopaoBolaBola");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 240
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#holsinSauceInput').on('input', function() {
	  		var element = $("#holsinSauce");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 60
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#chiliSauceInput').on('input', function() {
	  		var element = $("#chiliSauce");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 60
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	  $('#sharksfinInput').on('input', function() {
	  		var element = $("#sharksfin");
	  		var totalElement = $("#totalAmount");
	  		var due = $(this).val() * 80
	  		element.text(due);
	  		$("#totalAmount").val(parseFloat(totalElement.val()) + due);
	  		totalElement.text(parseFloat(totalElement.val()));
	  });
	});
</script>


<!-- JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>